:root {
    --hover-color: rgba(162, 248, 228, 0.2);
    --background-color: #f4fafe;
    --main-font-color: #000;
}

a,
ul {
    list-style: none;
    text-decoration: none;
}

/* Estilos del header: Compras */

.header-compras {
    background-color: rgba(209, 209, 209, .4);
}

/* Estilos del main: landing page*/


/* Estilos del main: compras, ventas */

.main-compras>h1,
.main-ventas>h1 {
    color: #000;
}

.contenedor-casas {
    display: grid;
    grid-template: repeat(3, auto) / repeat(4, auto);
    grid-auto-rows: auto;
    place-content: center;
    place-items: center;
    gap: 70px;
    padding: 20px 0 75px 0;
}

.contenedor-casas-lista {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 4px;
    gap: 10px;
    transition-duration: .5s;
    cursor: pointer;
}

.contenedor-casas-lista:hover {
    background-color: rgba(185, 185, 185, .2);
}

.contenedor-casas-lista p {
    font-size: var(--sm);
    text-align: start;
}

.contenedor-casas-lista h3 {
    font-size: var(--md);
    text-align: start;
}

.contenedor-casas-lista p,
.contenedor-casas-lista h3,
.contenedor-casas-lista ul {
    padding: 0 0 10px 7px;
}

.contenedor-casas-lista>img {
    width: 260px;
    height: 180px;
}

.specs-casa {
    display: flex;
    gap: 30px;
    align-items: center;
}
